body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(/img/header.png);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.header-text h1 {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-logo img {
    max-width: 140px;
    height: auto;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px; 
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}


.tituloheader {
    color: #ffffff;
    position: absolute;
    margin-left: 50px;
    margin-top: 30px;
}

.container-cam {
    max-width: 1200px;
    height: 400px;
    margin: 60px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: relative;
}
.cam-text {
    text-align: center;
    color: #333;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
}

.card {
    width: 400px;
    height: 250px;
    border: 5px solid #173254;
    border-radius: 8px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease;
}

.card:hover {
    background: #555;
}

.card h2 {
    margin: 0;
    font-size: 1.5em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    margin: 5% auto;
    padding: 20px;
    background: #173254;
    border-radius: 5px;
    width: 80%;
    max-width: 450px;
}

.modal-content img {
    width: 100%;
    height: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #555;
}
